<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register page</title>
    <link rel="stylesheet" href="../public/styles/style.css">
</head>
<body>
    <header>

        <div class="call-word" id="call-word-header">
            <h3>Marketing</h3>
            <h3>Criativo</h3>
        </div>

        <ul>
            <li>Início</li>
            <li>Serviços</li>
            <li>Sobre</li>
            <li>Contato</li>
            <li id="create-account">Já tem uma conta?</li>
        </ul>
        <p>header concluído</p>
    </header>
    <hr>

    <main>

        <div id="call-to-action">
            <div class='call-word' id="call-word-main">
                <h1>Faça login</h1>
                <h1><span>Entre no nosso time</span></h1>
            </div>

            <article>
                <img src="../public/images/—Pngtree—astronauts surf on a surfboard_5995307.png" alt="" width="420">
            </article>
        </div>

        <div id="login-register-area">

            <form action="/login" method="post" class="form-model" id="form-login">
                <h1>LOGIN</h1>

                <label for="user">Usuário</label>
                <input type="text" name="user" id="user-login" placeholder="Usuário">

                <label for="password">Senha</label>
                <input type="text" name="password" id="password-login" placeholder="Senha">

                <button type="submit" class="btn" id="btn-login">LOGIN</button>

            </form>
            <hr>
            <form action="/register" method="post" class="form-model" id="form-register">
                <h1>Register</h1>

                <label for="user">Usuário</label>
                <input type="text" name="user" id="user-register">

                <label for="password">Senha</label>
                <input type="text" name="password" id="password-register">

                <label for="repeat-password">Repita a senha</label>
                <input type="text" name="repeat-password" id="password-register">

                <button type="submit" class="btn" id="btn-login">LOGIN</button>

                <button><a href="/see-all-users">SEE ALL</a></button>
            </form>

            

        </div>

    </main>

    <footer>
        <div id="first-footer">
            <article>
                <img src="../public/images/—Pngtree—red wolf logo for game_5518165.png" alt="" width="100px">
                <p>slogan company</p>
            </article>

            <ul>
                <li>WEEBLY THEMES</li>
                <li>PRE-SALE FAOS</li>
                <li>SUBMIT A TICKET</li>
            </ul>

            <ul>
                <li>SERVICES</li>
                <li>THEME TWEAK</li>
            </ul>

            <ul>
                <li>SHOWCASE</li>
                <li>WIDGETKIT</li>
                <li>SUPORT</li>
            </ul>

            <ul>
                <li>ABOUT US</li>
                <li>CONTACT US</li>
                <li>RESOURCES</li>
                <LI>RESOURCES</LI>
            </ul>

            <hr>
        </div>

        <div id="second-footer">
            <ul>
                <li>LOGO</li>
                <li>LOGO</li>
                <li>LOGO</li>
                <li>LOGO</li>
                <li>@Copyright.All.Rights.reserved.</li>
            </ul>
        </div>
    </footer>
    
</body>
</html>